<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGR Resource Manager</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="ftop navbar bgcolor">
            <img class="d-inline-block align-top" src="assets/grayravenmarkinverse.png" 
            width="40" height="40" style="transform:scale(1.2,1.2)translate(-8px,1px)" alt="">
            <section class="navbar-collapse justify-content-between">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="about.ejs">About</a>
                    </li>
                    <li>
                        <button type="button" id ="button" class="login-with-google-btn" >
                            <a>Sign in with Google</a>
                            <!-- <a href="/auth/google">Sign in with Google</a> -->
                        </button>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
</body>
</html>