<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGR Resource Manager</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="ftop navbar bgcolor">
            <img class="d-inline-block align-top" src="assets/grayravenmark.png" 
            width="40" height="40" style="transform:scale(1.2,1.2)translate(-8px,1px)" alt="">
            <section class="navbar-collapse justify-content-between">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <section class="row">
        <section class="col-12 home-sub1" style="display: block; margin: auto;">
            <section class="row">
                <section id="home-features" class="col-12">
                    <section class="pgr-header">
                        <h1>Punishing Gray Raven Resource Manager</h1>
                    </section>
                    <section class="mt-4 flex flex-wrap items-start -mr-1 md:-mr-2">
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-EXPPodS.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryEnhancerII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponEnhancerII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-SkillPoint.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MinorOverclockAlloy.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponOverclockCoreI.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryOverClockCircuitI.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryEnhancerIII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponOverclockCoreI.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    
    
</body>
</html>