<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGR Resource Manager</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="ftop navbar bgcolor">
            <img class="d-inline-block align-top" src="assets/grayravenmark.png" 
            width="40" height="40" style="transform:scale(1.2,1.2)translate(-8px,1px)" alt="">
            <section class="navbar-collapse justify-content-between">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <section class="row">
        <section class="col-12 home-sub1" style="display: block; margin: auto;">
            <section class="row">
                <section id="home-features" class="col-12">
                    <section class="pgr-header">
                        <h1>Punishing Gray Raven Resource Manager</h1>
                    </section>
                    <section class="mt-6 flex space-y-2 flex-wrap items-start">
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-Cogs.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-RainbowCard.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-BlackCard.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-EventConstructRnDTicket.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-TargetWeaponRnDTicket.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-BasicConstructRnDTicket.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-BasicWeaponRnDTicket.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-CUBR&DTicket.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-TradeVoucher.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-190 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/commonmats/Item-PhantomPainScar.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-48" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-WarZoneInfluence.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-WarZoneMerit.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-SpecialSupportToken.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-UnitedAchievementPoints.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-ResidencePermit.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-DormCoin.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-DecorCoin.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-CoatingSketch.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-CoatingBlueprint.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-LeapWaferChip.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                        <section class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-1">
                            <section class="bg-gray-600 h-10 sm:h-14 shadow rounded overflow-hidden flex items-center sm:w-60 mb-1 md:mb-2 mr-1 md:mr-2">
                                <section class="relative w-10 sm:w-14 h-full flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                    <img class="max-h-[3rem] max-w-[3rem] sm:max-h-[2.5rem] sm:max-w-[2.5rem]" src="assets/currencies/Item-UniframeSingleCrystal.png">
                                </section>
                                <input class="ml-auto bg-gray-500 text-sm text-center h-half p-0 rounded w-24" type="number" min="0" tabindex="1">
                            </section>
                        </section>
                    </section>
                    </section>
                    </section>
                    <section class="pgr-header">
                        <section class="divider"></section>
                    </section>
                    <section class="mt-4 flex flex-wrap items-start -mr-1 md:-mr-2">
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-EXPPodS.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-EXPPodM.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-EXPPodL.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-EXPPodXL.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryEnhancerII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryEnhancerIII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryEnhancerIV.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryOverclockCircuitI.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MemoryOverclockCircuitII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-ProcessorShard.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponEnhancerII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponEnhancerIII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponEnhancerIV.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponOverclockCoreI.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-WeaponOverclockCoreII.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MinorOverclockAlloy.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-MajorOverclockAlloy.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-5StarMemoryResonanceMaterial.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-6StarMemoryResonanceMaterialPick.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-5StarWeaponResonanceMaterial.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-6StarWeaponResonanceMaterial.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-AuraBasicUnit.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-AuraChip.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-LeapWaferChipAstral.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-LeapWaferChipDawn.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-LeapWaferChipLuminance.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-LeapWaferChipPalefire.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-LeapWaferRigor.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalArca.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalCrocotta.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalDragontoll.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalFlambeau.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalStarveil.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-UniframeCrystalTempest.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-IntegratedCUBEXPS.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-IntegratedCUBEXPL.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-SupportOverclockBundleS.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-SupportOverclockBundleL.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-SupportSkillComponent.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartBoreas.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartFrostOath.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartJetJaeger.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartLingya.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartMoonhopper.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartNitor.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartNoctua.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartPunchy.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartSeeshell.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartShimmer.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartThorny.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartToniris.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                        <section class="bg-gray-600 rounded overflow-hidden flex flex-col items-center justify-center w-16 opacity-50 mb-1 md:mb-2 mr-1 md:mr-2">
                            <section class="relative w-full h-16 flex items-center justify-center bg-gradient-to-tl from-rare-400 to-rare-600">
                                <img class="max-h-[3rem] max-w-[3rem]" src="assets/commonmats/Item-BoosterStructuralPartYuanYe.png">
                                <!---->
                                <section class="absolute top-0 right-0 m-1 font-semibold flex items-end cursor-default">
                                    <!---->
                                    <!---->
                                    <!---->
                                </section>
                            </section>
                            <section class="relative flex items-center">
                                <input class="text-sm text-center w-full bg-gray-500" type="number" min="0" tabindex="1">
                                <!---->
                            </section>
                            <!---->
                            <!---->
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    
    
</body>
</html>